:root {
  --backColor: #061125;
  --offGrey: #949987;
  --contrastHover: #c07116;
  --borderColor: #030508;
}

* {
  font-family: Montserrat, sans-serif;
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

body {
  height: 100%;
  background-color: var(--backColor);
  color: var(--offGrey);
}

#particles-js {
  background-size: cover;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: var(--contrastHover);
}

.intro {
  position: fixed;
  left: 10%;
  top: 24%;
  width: 25%;
  font-size: 140%;
  color: #ffffff;
}

.intro h4 {
  font-size: 140%;
}

.myLinks {
  position: fixed;
  font-size: 200%;
  color: var(--offGrey);
  left: 60%;
  top: 60%;
  display: flex;
  flex-direction: column;
  line-height: 2;
}

h2 {
  top: 10%;
  position: fixed;
  left: 10%;
  font-size: 200%;
  z-index: 10;
}

p {
  line-height: 2;
}

.projectCards {
  flex: 1;
  display: block;
  top: 23%;
  left: 8%;
  position: absolute;
  padding: 0 50px;
}

img {
  border: 2px solid var(--borderColor);
  border-radius: 10px;
}

.image {
  align-items: center;
  width: 100%;
  height: 100%;
}
.projectInfo p {
  margin: 0;
}
.projectInfo {
  /* position: absolute; */
  background-color: #b8b8b8d8;
  padding: 10px;
  border-radius: 3px;
  color: black;
  font-size: 16px;
  margin: 45px 20% 0 0;
  min-height: 84px;
}
.projectInfo:hover {
  transition: 400ms;
  font-weight: bold;
  background-color: #d4d4d4;
}
.overlay {
  position: absolute;
  top: 2px;
  left: auto;
  right: auto;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
  background-color: black;
  border-radius: 10px;
  z-index: 10;
  display: flex;
  z-index: 10;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 35px;
}
.overlay *:hover {
  cursor: pointer;
  color: var(--contrastHover);
}

.hoverText {
  position: absolute;
  width: 100%;
  height: 100%;

  font-size: 20px;
  text-align: center;
  display: none;
  color: #030508;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 385px;
  height: 250px;
}

.card:hover figcaption {
  color: var(--contrastHover);
}

.card:hover .overlay {
  opacity: 0.6;
}

.contactText {
  position: absolute;
  top: 30%;
  padding: 0 5% 0 50%;
  font-size: 120%;
  color: white;
  display: flex;
  flex-direction: column;
  line-height: 2;
  font-size: 20px;
}
.aboutText {
  position: absolute;
  top: 30%;
  padding: 0 5% 0 30%;
  font-size: 120%;
  color: white;
  display: flex;
  flex-direction: column;
  line-height: 2;
}

a.back {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
}

.workTitles {
  position: relative;
  margin: 15% 0 0 55%;
  color: #e0e0e0;
  z-index: 10;
  font-size: 120%;
}
.workTitles h3:hover {
  cursor: pointer;
  color: var(--contrastHover);
}
.secret {
  font-size: 15px;
  color: rgb(126, 124, 124);
  position: absolute;
  top: 2%;
  right: 2%;
}
#changeBackground {
  font-weight: bold;
}

#changeBackground:hover {
  color: var(--contrastHover);
}
.back svg:hover {
  cursor: pointer;
}
.back svg path {
  cursor: pointer;
}
